@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter";
  background-color: #e3e3e3;
}

.container {
  width: 375px;
  padding: 24px;
  margin: 0 auto;
  background-color: hsl(0, 0%, 100%);
}
.container.dark {
  background-color: hsl(230, 17%, 14%);
}

header h1 {
  font-size: 24px;
  font-weight: 700;
  color: hsl(230, 17%, 14%);
}
header .summary {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: hsl(228, 12%, 44%);
  margin-top: 12px;
}
header .mode-change {
  border-top: 1px solid hsl(231, 13%, 61%);
  margin-top: 24px;
  padding-top: 20px;
}
header .mode-change__text {
  font-size: 12px;
  font-weight: 700;
  color: hsl(228, 12%, 44%);
}

main {
  padding-bottom: 45px;
}

.social {
  border-radius: 10px;
  background-color: hsl(227, 47%, 96%);
  text-align: center;
}
.social + .social {
  margin-top: 24px;
}
.social i.social__logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  width: 20px;
  height: 20px;
}
.social i.social__logo span {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
.social.facebook .social__account {
  border-top-color: hsl(208, 92%, 53%);
}
.social.facebook .social__logo {
  background: url(../../images/icon-facebook.svg) no-repeat center center;
}
.social.twitter .social__account {
  border-top-color: hsl(203, 89%, 53%);
}
.social.twitter .social__logo {
  background: url(../../images/icon-twitter.svg) no-repeat center center;
}
.social.instagram .social__account {
  border-image-slice: 7 0 0 0;
  border-image-source: linear-gradient(to right, hsl(37, 97%, 70%) 0%, hsl(329, 70%, 58%) 100%);
}
.social.instagram .social__logo {
  background: url(../../images/icon-instagram.svg) no-repeat center center;
}
.social.youtube .social__account {
  border-top-color: hsl(348, 97%, 39%);
}
.social.youtube .social__logo {
  background: url(../../images/icon-youtube.svg) no-repeat center center;
}
.social .social__changes {
  font-size: 12px;
  font-weight: 700;
}
.social .social__changes i {
  display: inline-block;
  width: 10px;
  height: 8px;
}
.social .social__changes.up {
  color: hsl(163, 72%, 41%);
}
.social .social__changes.up i {
  background: url(../../images/icon-up.svg) no-repeat center center;
}
.social .social__changes.down {
  color: hsl(356, 69%, 56%);
}
.social .social__changes.down i {
  background: url(../../images/icon-down.svg) no-repeat center center;
}

.socials .social {
  height: 215px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.socials .social .social__account {
  font-size: 12px;
  font-weight: 700;
  color: hsl(228, 12%, 44%);
  border-top: 4px solid hsl(227, 47%, 96%);
  padding-top: 28px;
}
.socials .social strong {
  font-size: 54px;
  line-height: 54px;
  font-weight: 700;
  margin-top: 28px;
  margin-bottom: 8px;
}
.socials .social + .social {
  margin-top: 24px;
}
.socials .social i.social__logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  width: 20px;
  height: 20px;
}
.socials .social i.social__logo span {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
.socials .social.facebook .social__account {
  border-top-color: hsl(208, 92%, 53%);
}
.socials .social.facebook .social__logo {
  background: url(../../images/icon-facebook.svg) no-repeat center center;
}
.socials .social.twitter .social__account {
  border-top-color: hsl(203, 89%, 53%);
}
.socials .social.twitter .social__logo {
  background: url(../../images/icon-twitter.svg) no-repeat center center;
}
.socials .social.instagram .social__account {
  border-image-slice: 7 0 0 0;
  border-image-source: linear-gradient(to right, hsl(37, 97%, 70%) 0%, hsl(329, 70%, 58%) 100%);
}
.socials .social.instagram .social__logo {
  background: url(../../images/icon-instagram.svg) no-repeat center center;
}
.socials .social.youtube .social__account {
  border-top-color: hsl(348, 97%, 39%);
}
.socials .social.youtube .social__logo {
  background: url(../../images/icon-youtube.svg) no-repeat center center;
}
.socials .social .social__target {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 12px;
  font-weight: 200;
}
.socials .social .social__changes {
  margin-top: 22px;
}

.overview h2 {
  font-size: 16px;
  font-weight: 700;
  color: hsl(228, 12%, 44%);
}
.overview .social {
  padding: 25px 20px;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.overview .social > div {
  display: flex;
  justify-content: space-between;
}
.overview .social > div:first-child {
  align-items: flex-start;
}
.overview .social > div:nth-child(2) {
  align-items: flex-end;
}
.overview .social__type > span {
  font-size: 13px;
  font-weight: 700;
  color: hsl(228, 12%, 44%);
}
.overview .social__numbers strong {
  font-size: 30px;
  font-weight: 700;
}

/*# sourceMappingURL=styles.css.map */
